extends ../../struct/layout

block content
    section.breadcrumbs-custom.bg-image.context-dark(style='background-image: url(images/bg-breadcrumbs-02-1920x480.jpg);')
        .container
            h2.breadcrumbs-custom-title Nous Rejoindre
        ul.breadcrumbs-custom-path
            li
                a(href='/') Acceuil
            li.active
                a(href='/nous-rejoindre/') Nous Rejoindre
            li.active Etape 2 / 3
    section.section.section-lg.bg-default
        .container
            article.text-center.mb-5
                h2(style='font-size: 54px') Comment formuler ma candidature ?
                p
                    | Vous voulez nous rejoindre ? Très bien, nous en sommes ravis ! 
                    br
                    |             Cependant, comme vous le savez déjà, vous devez rédiger une candidature. Cette page pourra peut-être vous aiguiller si vous n'avez aucune inspiration.
            article.text-center.mb-5.mt-5
                h4.box-about-post-title-center Quelques conseils pour commencer
                ul.list-marked
                    li
                        | Avant toute chose, sachez que votre candidature sera publiée aux autres membres du serveur. Donnez leur une bonne impression de vous !
                    li
                        | Une bonne candidature se doit d'être soignée. C'est sans doute le point le plus important pour rédiger une présentation agréable à lire. Une belle orthographe vous donnera un énorme avantage pour être accepté.
                    li
                        | Présentez-vous, expliquez d'où vous venez, partagez vos hobbys, vos passions, etc.
                    li
                        | Montrez votre motivation ! Soyez vous-même, laissez place à l'imagination et n'hésitez pas à rajouter un brin de folie ! Un joueur amical sera certainement préféré à un joueur trop sérieux!
                    li Soyez patient et prenez votre temps. ll n'y a pas de limite, alors écrivez !
                    li
                        | Une dernière chose, n'écrivez pas comme un robot du style : "Je m'appelle Thomas, j'ai 17 ans, j'aime la redstone, j'habite dans le ...". Faites des phrases un minimum structurées !
                p.text-decoration-lines(style='text-align: justify')
                    | Bref, donnez-nous l'envie de vous recruter, de vous acceptez dans nos rangs. Considérez-nous comme une bande de copains qui ont hâte d'apprendre à mieux vous connaître. Vous pouvez aussi nous expliquer pourquoi avoir choisi Litopia et pas un autre serveur, qu'est-ce que vous recherchez en particulier en adhérant au serveur, etc. N'ayez pas de gêne et vous aurez de fortes chances d'être accepté !
                p.text-decoration-lines(style='text-align: justify')
                    | PS : Si votre candidature est plus courte que cette liste de conseils, vous réduisez vos chances de faire mouche !
            .text-center.mt-5
                .button-wrap(data-caption-animate='fadeInUp', data-caption-delay='300')
                    a.button.button-modern.button-custom-size-1(href='/nous-rejoindre/3') Ecrire ma candidature
    section
