extends ./struct/layout

block content
  include ./struct/carousel
  section.section.section-lg.bg-default
    .container
      .row.row-50.flex-md-row-reverse
        .col-md-6.text-center
          .box-image-1
            .mt-5
            img(src='/images/ComunutyHalf.jpg', alt='Comunauté de Litopia en chute libre', width='468', height='276')
        .col-md-6
          .box-about
            .box-about-title-wrap
              h2.box-about-mega-title Litopia
              h2.box-about-title A propos
            h4.box-about-post-title Comment tout a commencé
            p.text-justify
              | Litopia est une communauté qui dure dans le temps, en effet le premier serveur a été créé en 2016.
              | Mais comment ça se fait que ça fonctionne ?
            p.text-justify
              | Litopia est un serveur Minecraft Vanilla en UltraHardCore (avec respawn), actuellement en version 1.16.1
              | Le PvP est actif et la map illimitée en freebuild. Nous sommes avant tout une communauté soudée, une bande
              | de copains qui se retrouvent pour partager ensemble une aventure sur Minecraft.
            a.button.button-primary(href='/nous-rejoindre') Nous Rejoindre
            p.text-justify
              | Pour intégrer notre serveur, il te faudra avant tout lire et accepter certaines règles. En cas de
              | non respect de celles-ci, les joueurs concernés seront sanctionnés sur-le-champ.
  section.section.section-lg-3.bg-default
    // Owl Carousel
    .owl-carousel.owl-carousel-bio(data-items='1', data-sm-items='1', data-md-items='2', data-lg-items='2', data-xl-items='3', data-xxl-items='4', data-autoplay='false', data-nav='true', data-dots='true', data-loop='true', data-mouse-drag='false', data-stage-padding='0', data-margin='0', data-nav-text='["prev","next"]')
      .box-bio
        .box-bio-year 2015
        .box-bio-body
          h5.box-bio-title Kraftopia
          p.box-bio-text Kraftopia et le premier serveur. Repris par les plus anciens membres de Litopia.
      .box-bio
        .box-bio-year Janvier 2017
        .box-bio-body
          h5.box-bio-title Litopia
          p.box-bio-text
            | Après une longue pause Loff demande à Solarius d'ouvrir un nouveau serveur, serveur qui sera nommée Litopia. Cette première saison sera dans un monde amplified
      .box-bio
        .box-bio-year Aout 2017
        .box-bio-body
          h5.box-bio-title Début de la saison 2
          p.box-bio-text
            | Préparation de la saison 2 et utilisation d'un générateur de monde vanilla spécial OTG & Mise en place de superbe plugin par Sekori !
      .box-bio
        .box-bio-year Juillet 2018
        .box-bio-body
          h5.box-bio-title Début de la saison 3
          p.box-bio-text
            | Ça y est on lance la saison 3, 1 ans aprés la saison 2. Au programme nouveau discord, nouveau site, nouveau logo. Pour une saison Pirate !
      .box-bio
        .box-bio-year unknown 2019
        .box-bio-body
          h5.box-bio-title Une saison asiatique (oubliée)
          p.box-bio-text
            | Petite saison éphémère sur le thème asiatique que Solarius avait totalement oublié, aucun souvenir, nada, gros black out, un vrai trou noir.
      .box-bio
        .box-bio-year Décembre 2019
        .box-bio-body
          h5.box-bio-title Une saison de noël
          p.box-bio-text
            | Et oui on s'est dit que la nouvelle saison serais une saison de noël ! Noël tous les jours c'est trop bien !
      .box-bio
        .box-bio-year Mars 2020
        .box-bio-body
          h5.box-bio-title Une saison Corona Virus
          p.box-bio-text En fait on était tous confinés alors on a fait une saison de Litopia
      .box-bio
        .box-bio-year Juillet 2020
        .box-bio-body
          h5.box-bio-title Début de la saison 4
          p.box-bio-text On se refait une vrai saison comme à la bonne époque et ça va être absolument génial
  section.section.section-lg.bg-default.text-center
    .container
      h6.text-gray-600 Toute les vidéos de Litopia
      h2 Vidéo de Présentation
      // Bootstrap tabs
      #tabs-2.tabs-custom.tabs-vertical.tabs-video
        // Tab panes
        .tab-content
          #tabs-2-1.tab-pane.fade.show.active
            .entry-video.embed-responsive.embed-responsive-16by9
              iframe(width='886', height='668', src='//www.youtube.com/embed/2YYyNzTbdr8', allowfullscreen='')
          #tabs-2-2.tab-pane.fade
            .entry-video.embed-responsive.embed-responsive-16by9
              iframe(width='886', height='668', src='//www.youtube.com/embed/fwwHdV7nJSM', allowfullscreen='')
        //-
          #tabs-2-5.tab-pane.fade
            .entry-video.embed-responsive.embed-responsive-16by9
              iframe(width='886', height='668', src='//www.youtube.com/embed/GLLqFy-EG28', allowfullscreen='')
          #tabs-2-6.tab-pane.fade
            .entry-video.embed-responsive.embed-responsive-16by9
              iframe(width='886', height='668', src='//www.youtube.com/embed/sQspQ93-ob4', allowfullscreen='')
          #tabs-2-7.tab-pane.fade
            .entry-video.embed-responsive.embed-responsive-16by9
              iframe(width='886', height='668', src='//www.youtube.com/embed/FT8wFGrfoZg', allowfullscreen='')
          #tabs-2-8.tab-pane.fade
            .entry-video.embed-responsive.embed-responsive-16by9
              iframe(width='886', height='668', src='//www.youtube.com/embed/R7IeIWQaLwc', allowfullscreen='')
        .scroll-wrap
          // Nav tabs
          ul.nav.nav-tabs
            li.nav-item(role='presentation')
              a.nav-link.active(href='#tabs-2-1', data-toggle='tab')
                .nav-video
                  figure.nav-video-figure
                    img(src='https://i.ytimg.com/vi/2YYyNzTbdr8/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLDHX4_NhJvj6LmbZ8TTi-5xGf10UQ', alt='', width='140', height='40')
                  h6.nav-video-title Trailer de Litopia 2018
            li.nav-item(role='presentation')
              a.nav-link(href='#tabs-2-2', data-toggle='tab')
                .nav-video
                  figure.nav-video-figure
                    img(src='https://i.ytimg.com/vi/fwwHdV7nJSM/hqdefault.jpg?sqp=-oaymwEZCPYBEIoBSFXyq4qpAwsIARUAAIhCGAFwAQ==&rs=AOn4CLDwlvGpxBzPhWnmz_jIFz7S2EgQbw', alt='', width='140', height='40')
                  h6.nav-video-title Trailer de Kraftopia 2016
          //-
            li.nav-item(role='presentation')
              a.nav-link(href='#tabs-2-5', data-toggle='tab')
                .nav-video
                  figure.nav-video-figure
                    img(src='images/video-03-140x81.jpg', alt='', width='140', height='40')
                  h6.nav-video-title Shematicas Explication LitopiaCréaS2 2017
            li.nav-item(role='presentation')
              a.nav-link(href='#tabs-2-6', data-toggle='tab')
                .nav-video
                  figure.nav-video-figure
                    img(src='images/video-03-140x81.jpg', alt='', width='140', height='40')
                  h6.nav-video-title Destruction de montage Litopia S1 2017
            li.nav-item(role='presentation')
              a.nav-link(href='#tabs-2-7', data-toggle='tab')
                .nav-video
                  figure.nav-video-figure
                    img(src='images/video-04-140x81.jpg', alt='', width='140', height='40')
                  h6.nav-video-title Shader Bizard Litopia S1 2017
            li.nav-item(role='presentation')
              a.nav-link(href='#tabs-2-8', data-toggle='tab')
                .nav-video
                  figure.nav-video-figure
                    img(src='images/video-05-140x81.jpg', alt='', width='140', height='40')
                  h6.nav-video-title Course d'Elytra Kraftopia 2016
