section.section.swiper-container.swiper-slider.swiper-slider-1(data-loop='true', data-autoplay='5000', data-simulate-touch='false')
  .swiper-wrapper.text-center
    .swiper-slide.context-dark(data-slide-bg='images/header1.jpg')
      .swiper-slide-caption.section-md
        .container
          .row.justify-content-lg-center
            .col-lg-8
              h5(data-caption-animate='fadeInUp', data-caption-delay='100') Litopia et bien plus qu'une communauté c'est
              h1(data-caption-animate='fadeInUp', data-caption-delay='200') Votre communauté
              .button-wrap(data-caption-animate='fadeInUp', data-caption-delay='300')
                a.button.button-modern.button-custom-size-1(href='/nous-rejoindre') Nous rejoindre
    .swiper-slide.context-dark(data-slide-bg='images/header2.jpg')
      .swiper-slide-caption.section-md
        .container
          .row.justify-content-lg-center
            .col-lg-8
              h5(data-caption-animate='fadeInUp', data-caption-delay='100') Litopia existe depuis 2016 ce grâce à des
              h1(data-caption-animate='fadeInUp', data-caption-delay='200') Membres Actifs
              .button-wrap(data-caption-animate='fadeInUp', data-caption-delay='300')
                a.button.button-modern.button-custom-size-1(href='/membres') Nos Membres
    .swiper-slide.context-dark(data-slide-bg='images/header3.jpg')
      .swiper-slide-caption.section-md
        .container
          .row.justify-content-lg-center
            .col-lg-8
              h5(data-caption-animate='fadeInUp', data-caption-delay='100') Aucun Lag ne viendra entâcher votre partie grâce à un
              h1(data-caption-animate='fadeInUp', data-caption-delay='200') Serveur Dédié
              .button-wrap(data-caption-animate='fadeInUp', data-caption-delay='300')
                a.button.button-modern.button-custom-size-1(href='/serveur') Afficher la configuration
  // Swiper Pagination
  .swiper-pagination