footer.section.footer-classic.bg-default
  .container
    .row.row-15
      .col-sm-6
        p.rights
          span Litopia
          span  
          span © 
          span.copyright-year
          span  
          span \ 
          | Tous Droits réservés
      .col-sm-6
        .footer-contact
          a(href='/nous-rejoindre')
            .icon.novi-icon.mdi.mdi-email-outline
            | Nous rejoindre
#form-output-global.snackbars
script(src="/js/core.min.js")
script(src="/js/script.js")
script(src="/js/form.js")
