header.section.page-header
    // RD Navbar
    .rd-navbar-wrap(style='position: absolute')
        nav.rd-navbar.rd-navbar-classic(data-layout='rd-navbar-fixed', data-sm-layout='rd-navbar-fixed', data-md-layout='rd-navbar-fixed', data-md-device-layout='rd-navbar-fixed', data-lg-layout='rd-navbar-fixed', data-lg-device-layout='rd-navbar-fixed', data-xl-layout='rd-navbar-static', data-xl-device-layout='rd-navbar-static', data-xxl-layout='rd-navbar-static', data-xxl-device-layout='rd-navbar-static', data-lg-stick-up-offset='46px', data-xl-stick-up-offset='46px', data-xxl-stick-up-offset='46px', data-lg-stick-up='true', data-xl-stick-up='true', data-xxl-stick-up='true')
            .rd-navbar-collapse-toggle.rd-navbar-fixed-element-1(data-rd-navbar-toggle='.rd-navbar-collapse')
                span
            .rd-navbar-main-outer
                .rd-navbar-main
                    // RD Navbar Panel
                    .rd-navbar-panel
                        // RD Navbar Toggle
                        button.rd-navbar-toggle(data-rd-navbar-toggle='.rd-navbar-nav-wrap')
                            span
                        // RD Navbar Brand
                        .rd-navbar-brand
                            // Brand
                            a.brand(href='index.html')
                                img(src="/logo/logo.svg", alt='', style='height: 42px;')
                                span(style='font-family:"Nothing You Could Do", "Times New Roman", Times, serif;color:white;font-size:20px;transform: translate(5px, 15px);position: absolute;') 1.16.1
                    .rd-navbar-main-element
                        .rd-navbar-nav-wrap
                            ul.rd-navbar-nav
                                li.rd-nav-item(class= (title==="Accueil") ? "active" : undefined)
                                    a.rd-nav-link(href='/') Accueil
                                li.rd-nav-item(class= (title==="Rejoindre") ? "active" : undefined)
                                    a.rd-nav-link(href='/nous-rejoindre') Nous Rejoindre
                                li.rd-nav-item
                                    a.rd-nav-link(href='/membres') Membres
                                li.rd-nav-item
                                    a.rd-nav-link(href='https://www.paypal.me/Litopia/5') Dons
                                //li.rd-nav-item
                                    a.rd-nav-link(href='#') Dynmap
                    .rd-navbar-collapse