extends ../struct/layout

block content
    section.breadcrumbs-custom.bg-image.context-dark(style='background-image: url(/images/réglement2.png);')
        .container
            h2.breadcrumbs-custom-title Réglement
        ul.breadcrumbs-custom-path
            li
                a(href='/') Acceuil
            li.active
                a(href='/nous-rejoindre') Nous Rejoindre
            li.active Réglement
    section.section.section-lg.bg-default
        .container
            .row.row-50.flex-md-row-reverse
                .box-about
                    .box-about-title-wrap
                        h2.box-about-mega-title Réglement
                        h2.box-about-title Réglement
                    h4.box-about-post-title Introduction
                    p
                        | Les règles ne sont pas là pour empêcher les joueurs de jouer librement, mais plutôt pour permettre une meilleure expérience pour toute la communauté Litopia. Le moindre manquement aux règles suivantes entraînera une sanction, allant du simple avertissement au bannissement définitif du serveur.
                    h4.box-about-post-title Règlement interne de Litopia
                    ul.list-marked
                        li
                            | Le harcèlement, les propos xénophobes, la pornographie ou tout autre propos contrevenant aux lois françaises en vigueur sont interdits.
                        li L'incitation à la haine, à des pratiques illégales ou religieuses est interdite.
                        li
                            | Les constructions à caractères xénophobes, pornographiques, dénigrant la religion, pouvant choquer ou toutes autres constructions en contradiction avec la loi, sont interdites.  Le manque de respect envers un ou plusieurs autre(s) membre(s) pourra se solder par un bannissement du serveur.
                        li
                            | Le grief volontaire, le cheat quel qu’il soit, le vol et le meurtre répété d'autres joueurs sont strictement interdits et seront lourdement sanctionnés.
                        li
                            | Le langage SMS est proscrit, nous vous demandons d'écrire le plus clairement possible. Les fautes de frappes et d’orthographe sont pardonnées dans le chat du jeu.
                        li
                            | Le flood, peu importe sa forme (majuscules volontaires, phrases répétées, insultes, etc...), est interdit.
                        li
                            | Pour garantir un serveur actif, les absences prolongées de plus d'un mois qui n'auront pas été signalées sur le Discord dans l'espace prévu à cet effet ou par message à un admin, se solderont par un bannissement sans préavis du serveur. Les bannis auront toujours accès au discord, sauf cas exceptionnels.
                        li
                            | Merci d'éviter les bûches volantes, les tours de lave, tours d'eau ou tout ce qui peut nuire à l’esthétique du paysage.
                    h4.box-about-post-title Candidatures
                    p.text-decoration-lines
                        | Le réglement ne vous a pas refroidit. Vous vous sentez prêt pour nous rejoindre ? Alors c'est parti !
                    .button-wrap(data-caption-animate='fadeInUp', data-caption-delay='300')
                        a.button.button-modern.button-custom-size-1(href='/nous-rejoindre/1') Nous Rejoindre
        div(style='height: 25px; margin-top: 20px')
        .text-center
    section
